
@media (max-width: 992px) {
    .right-content {
        .chess-content-wp {
            padding: 60px 30px 60px 70px;
        }
    }
    .our-advances {
        .chess-content-wp {
            padding-left: 30px;    
        }
    }
    .prof-eng-translate {
        .chess-content-wp {
            padding-right: 80px;
        }
        .heading {
            font-size: (26rem/16);    
        }
    }
    .main .wrapper {
        flex-wrap: wrap;   
        justify-content: center;
        .l-strip {
            margin-bottom: 60px;
        }
        .category, .archive {
            text-align: center;
        }
        .article-single {
            margin-bottom: 60px;
            padding-right: 15px;
        }
    }
}