
@media (max-width: 450px) {
    html {
        font-size: 11px;
    }
    body {
        padding-top: 100px;
    }
    .main-top-car-item {
       height: calc(100vh - 100px);
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .header-logo-wp {
        width: 71%;
    }
    .main-help-item {
        margin-left: 0;
        margin-right: 0;
    }
    .comments-carousel {
        .owl-buttons > div {
            height: 300px;
            zoom: 0.8;
        }
    }
    .spec-item {
        width: calc(100% - 75px);
    }
    .subscribe-mail {
        max-width: 100%;
        margin-bottom: 30px;
        padding-right: 46px;
    }
    .subscribe-btn {
        position: relative;
        width: 100%;
        height: 52px;
    }
    .up {
        top: 16px;
    }
    .carousel {
      .item-content {
        font-size: 18px;
      }
    }
}
